<div ms-important="first" class="view">
    <style>
        .active{
            background: blueviolet;
        }
        .panel{
            margin: 2em;
            height:200px;
            border:1px solid #666;
            background: gainsboro;
        }
    </style>
    <p>
        <button ms-for="(index, el) in @tabs" 
                ms-class="{active: index === @activeIndex}"
                ms-click="@activeIndex = index">
            {{el}}
        </button>
    </p>
    <div class="panel" ms-visible="0 === @activeIndex">
        <p>银行卡:<input placeholder="xxxx xxxx xxxx xxxx" 
                  ms-duplex="@aaa | debounce(100) " 
                  data-duplex-changed="@formatCard"/>
        </p>
    </div>
     <div class="panel" ms-visible="1 === @activeIndex">
       22
    </div>
     <div class="panel" ms-visible="2 === @activeIndex">
       111
    </div>
</div>