<!DOCTYPE html>

<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../dist/avalon.test.js"></script>


</head>

<body>

    <script>
            var div = document.createElement('div')
            var body = document.body
            body.appendChild(div)
            function heredoc(fn) {
                return fn.toString().replace(/^[^\/]+\/\*!?\s?/, '').
                     replace(/\*\/[^\/]+$/, '').trim().replace(/>\s*</g, '><')
            }
            function fireClick(el) {
                if (el.click) {
                    el.click()
                } else {
            //https://developer.mozilla.org/samples/domref/dispatchEvent.html
                    var evt = document.createEvent('MouseEvents')
                    evt.initMouseEvent('click', true, true, window,
                            0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    !el.dispatchEvent(evt);
                }
            }
            function expect(a){
                return {
                    to: {
                        equal:function(b){
                          console.log(a,b,a===b)
                        }
                    }
                }
            }
var testDiv = document.createElement('div')
        document.body.appendChild(testDiv)
        testDiv.innerHTML = heredoc(function () {
            /*
             <div ms-controller='widget1' >
             <div><wbr ms-widget="[{is:'ms-button'},@config]"/></div>
             </div>
             */
        })
        var index = 0
        vm = avalon.define({
            $id: 'widget1',
            config: {
                buttonText: '按钮',
                onInit: function (e) {
                    expect(e.type).to.equal('init')
                    console.log("xxxxx")
                    ++index
                },
                onReady: function (e) {
                    expect(e.type).to.equal('ready')
                    ++index
                },
                onViewChange: function (e) {
                    expect(e.type).to.equal('viewchange')
                    ++index
                },
                onDispose: function (e) {
                    expect(e.type).to.equal('dispose')
                    ++index
                }
            }
        })
        avalon.scan(testDiv)
        setTimeout(function () {
            expect(index + "!").to.equal(2 + "!")

            vm.config.buttonText = 'change'
            setTimeout(function () {
                testDiv.innerHTML = ""
                setTimeout(function () {
                    expect(index).to.equal(4)
                    document.body.removeChild(testDiv)
                //    done()
                }, 120)
            }, 120)
        }, 120)
        </script>
</body>

</html>