<!DOCTYPE html>
<html>
    <head>
        <title>分页栏</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <!--[if IE 7]>
          <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link href="../../dist/pager.css" rel="stylesheet"/>
        
        <script src="../../dist/avalon.js"></script>
        <script src="../../dist/pager.js"></script>
    </head>
    <body ms-controller="test">
        <wbr ms-widget="{is:'ms-pager'}" />
        <hr/>
        <wbr ms-widget="[{is:'ms-pager'}, @config]" />
    </body>
</html>
