<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script src="../dist/avalon.js"></script>
        <script>
            var vm = avalon.define({
                $id:'test',
                aaa:'ceshiceshi',
                bbb:"测试",
                pageList:[4,5,6,7],
                toggle:false,
                config:{
                    totalPages:33,
                    pageSize:6
                }
            });
            var tpl = '<ul class="list-unstyled">'+
                        '<li><a href="javascript:;">首页</a></li>'+
                        '<li><a href="javascript:;">上一页</a></li>'+
                        '<li ms-for="el in @pageList" ms-click="@alert(el)"><a href="javascript:;">{{el}}</a></li>'+
                        '<li><a href="javascript:;">下一页</a></li>'+
                        '<li><a href="javascript:;">末页</a></li>'+
                        '<li ms-if="@toggle"><a href="javascript:;">{{@pageSize}}</a></li>'+
                        '<li>共<span ms-on-click="@update">{{@totalPages}}</span>页</li>'+
                    '</ul>';
            var tpl1 = tpl.replace('<li>共<span>{{@totalPages}}</span>页</li>','');
            var defaults = {
                totalPages:21,
                pageSize:5
            };
            avalon.component('ms-pager',{
                template:tpl,
                defaults:avalon.mix(defaults,{
                    pageList:[1,2,3,4,5],
                    alert: function(e){
                        console.log(e)
                    },
                    onViewChange:function(){
                        console.log('viewchange!!!!')
                    },
                    onDispose:function(){
                        console.log('dispose!!!!')
                    },
                    update: function(){
                        this.pageList = [11,22,33,44,55]
                    }
                })
            })
        </script>
    </head>
    <body>
        <div ms-controller="test">
            {{@aaa}}
           <ms-pager ms-widget="@config"></ms-pager>
           <p>{{@bbb}}</p>
           
       
        </div>
    </body>
</html>