<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>SPA</title>
        <script src="../../dist/avalon.js"></script>
        <script src="../../dist/routergrid.js"></script>
         <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
         <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
         <link rel="stylesheet" href="../../dist/routergrid.css">
    </head>
    <body ms-controller="main">
        <p class="tabs"><a id="aaa" href='#!/aaa'>aaa</a>|<a href='#!/bbb'>bbb</a>|<a href='#!/ccc'>ccc</a></p>

        <div ms-html="@main"></div>
       
    </body>
</html>