@charset "utf-8";
/**
 * @fileOverview 移动端清除默认样式
 * @module reset
 * @description 常用的默认样式清除，没有添加body，这个可根据实际项目自行添加
 * @version 1.0.0
**/
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0;  font-family: Microsoft YaHei, SimSun;}
:focus{outline:0;}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:0}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
a img,fieldset{border:0;}
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:rgba(0,0,0,0)}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom:1}
/*项目样式*/
.wrap{
   /* background: #;*/
}
.inner{
   width: 5.9rem;
   margin: 0 auto;
}
.inner img{
    width: 100%;
}
.nav ul li{
    list-style: none;
    width: 1.3rem;

    border: 1px solid #3d006f;
    background: #8c00ff;
    color:#3d006f;
    border-radius: 0.4rem;
    text-align: center;
    padding: 0.15rem 0;
    font-size: 0.24rem;
    float: left;
    margin-right: 0.18rem;
}
.nav ul li.last{
    margin-right:0;
}
.guagua{
    padding-bottom: 0.42rem;
}
.guagua .jici{
    font-size: 0.22rem;
    text-align: center;
    line-height: 0.5rem;
}
.guagua .jici span{
    color: #ffef00;
}
.tips{
    position: relative;
    color: #3d006f;
}
.tips .tie{
    width: 0.95rem;
    height: 0.35rem;
    line-height: 0.35rem;
    color: #fff;
    background: #3d006f;
    border-radius: 0.18rem;
    display: inline-block;
    text-align: center;
    position: relative;
    top:-0.03rem;
}
.tips em{
    width: 0.25rem;
    height: 0.25rem;
    line-height: 0.25rem;
    border-radius: 0.13rem;
    color: #fff;
    background: #3d006f;
    display: inline-block;
    font-style: normal;
    text-align: center;
}
.tips .r{
    padding-right: 0.36rem;
}