.header {
    border:1px solid #000;
    width: 600px;
    border-collapse: collapse;
}
.header td{
    border:1px solid #000;
    text-align: center;
    font-weight: 700;
    height:30px;
    color: #607fa6;
    font-weight: 700;
}
.tbody{
    width: 600px;
    margin-top: -1px;
    border:1px solid #000;
    border-collapse: collapse;
}
.tbody td{
    border:1px solid #000;
    height: 30px;
}
.pager{
    width:600px;
    background: #fafafa;
}
.pager > *{
    float: right;

}