.oni-pager {
  font: normal 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif; }

/*
这是每个都组件都应该引用的部分
*/
.oni-pager {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  white-space: nowrap;
  /*!省略掉的页数*/
  /*!页面跳转部分的样式*/
  /*!输入域的容器*/
  /*!输入域*/
  /*!里面的按钮的样式*/
  /*!里面的文本全部包在一个容器内，以便实现居中*/ }
  .oni-pager .oni-pager-items {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle; }
  .oni-pager .oni-pager-prev, .oni-pager .oni-pager-next, .oni-pager .oni-pager-item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-color: white;
    color: #333;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    border: 1px solid #d4d4d4;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /*!当前页,没有边框*/
    /*!掠过*/
    /*!禁用*/ }
    .oni-pager .oni-pager-prev.oni-state-active, .oni-pager .oni-pager-next.oni-state-active, .oni-pager .oni-pager-item.oni-state-active {
      color: #ff8888;
      border: 0 none;
      padding: 1px 11px;
      cursor: default;
      background: transparent; }
    .oni-pager .oni-pager-prev.oni-state-hover, .oni-pager .oni-pager-next.oni-state-hover, .oni-pager .oni-pager-item.oni-state-hover {
      border-color: #ff8888; }
    .oni-pager .oni-pager-prev.oni-state-disabled, .oni-pager .oni-pager-next.oni-state-disabled, .oni-pager .oni-pager-item.oni-state-disabled {
      border-color: #d9d9d9;
      background-color: whitesmoke;
      color: #999999;
      cursor: default; }
  .oni-pager .oni-pager-omit {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    padding: 1px 0;
    vertical-align: middle;
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default; }
  .oni-pager .oni-pager-jump {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; }
  .oni-pager .oni-pager-textbox-wrapper {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 26px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 5px;
    vertical-align: middle;
    font-size: 0;
    outline: none;
    background-color: white;
    border: 1px solid #d4d4d4; }
  .oni-pager .oni-pager-textbox {
    display: inline;
    float: left;
    position: relative;
    width: 26px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    border: 0 none;
    font-size: 12px;
    outline: medium none;
    vertical-align: middle;
    text-align: center;
    color: #333333;
    background: #fff; }
  .oni-pager .oni-pager-button {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    overflow: visible;
    _overflow-y: hidden;
    height: 26px;
    margin-left: 5px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    padding: 0 10px;
    text-decoration: none;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333; }
    .oni-pager .oni-pager-button:hover {
      border-color: #bbb; }
  .oni-pager .oni-pager-text {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 12px;
    vertical-align: middle; }