.ll-skin-nigran {
	font-size: 90%;
}

.ll-skin-nigran .ui-widget {
	font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
	background: #29a2d9;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 1px 3px #252525;
}

.ll-skin-nigran .ui-datepicker {
	padding: 0;
}

.ll-skin-nigran .ui-datepicker-header {
	border: none;
	border-bottom: 1px solid #2d97cb;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.ll-skin-nigran .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-title {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev {
	top: 1.7em;
	border:none;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next span,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position: -32px -32px;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px -32px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover span {
	background-position: -96px -48px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover span {
	background-position: -32px -48px;
}

.ll-skin-nigran .ui-datepicker table {
	margin: 0;
}

.ll-skin-nigran .ui-datepicker th {
	padding: 3em 0;
	color: #9fd9f1;
	font-size: 8px;
	font-weight: normal;
	text-shadow: 0 0 2px #45c4f8;
	text-transform: uppercase;
	border: none;
	border-top: 1px solid #3fabdc;
}

.ll-skin-nigran .ui-datepicker td {
	border: none;
	padding: 0;
}

.ll-skin-nigran td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: 1em 0;
	margin: 0;
	font-weight: normal;
	color: #efefef;
	font-size: 12px;
}

.ll-skin-nigran td .ui-state-active,
.ll-skin-nigran td .ui-state-hover {
	background: #1b7fb0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}